<!DOCTYPE html>
{% load static %}

<html>
<head>
    <title>Wordcount by JH</title>
    
    <!-- Google Fonts -->   
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'style.css' %}" >

    <style type="text/css">
    A:link{text-decoration: none; color:#646464;}
    A:visited{text-decoration: none; color:#646464;}
    A:active{text-decoration: none; color:#646464;}
    A:hover{text-decoration: none; color:#646464;}
    </style>

</head>
<body>
    <div class="container bck-img">
        <h1>Wordcount Application</h1>

        <a href="/about"> <h3>ABOUT</h3> </a>
        <div class="text">
            <form action="{% url 'result' %}">
                <textarea class="texta" name="fulltext"></textarea>
                <br>
                <div class="but"><button type="submit" class="btn"><p>COUNT!</p></button></div>
            </form>
        </div>
    </div>
</body>
<footer>
        <div class="footer-area-bottom">
            <div class="copyright text-center">
                <p>
                    <a href="#"> HOME</a> &nbsp;&nbsp;&nbsp; <a href="/about">ABOUT</a>
                </p>
            </div>
            <div class="credits">
                <p style="font-size: 10px">Made by Jihyun</p>
            </div>
        </div>        
</footer>
</html>